
/* Navbar Styling */

#navbar {
  background-color: rgb(26,22,22) !important;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #7FB7BE !important;
 }

.nav-item {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.4em;
}

.navbar {
  height: 15vh;
}

.navbar-container {
  margin-bottom: 0;
  padding: 0;
  top: 0;
}

/* Styles for the landing page */

.db-img {
  max-width: 70%;
  margin-bottom: 10vh;
}


.lp-container {
  padding-top: 25h;
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-container {
  position: relative;
  height:100vh;
  padding-top: 35vh;
  margin-top: 0 !important;
  background: url("../img/bg-img.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

article {
  margin-top: 0 !important;
}

.btn-start {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.4em;
}

.btn {
  color: #7FB7BE !important;
}

.jumbotron {
  background-color: rgb(26,22,22);
}


/* Animista classes and keyframes */ 

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

 @-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}


html, body {
  max-width: 100vw;
  overflow-x: hidden;
  height: auto!important;
}